<nav class="navbar">
    <ul class="navbar-list">
        <li><a href="#">Accueil</a></li>
        <li><a href="">Gestion des utilisateurs</a></li>
        <li><a href="/ajout-enchere">Ajouter Enchere</a></li>
        <li ><a href="#" >Se déconnecter</a></li>
    </ul>
</nav>




<div >
    <h2 class="primary">Liste des Ecnhere</h2>
</div>


<div class="container">
  <div class="enchere-list">
      <div *ngFor="let enchere of enchereList" class="enchere-card">
          <div class="enchere-image">
              <img [src]="'data:image/jpeg;base64,' + enchere.image" alt="Image of {{ enchere.nomProduit }}" class="flexible-image">
          </div>
          <div class="enchere-details">
              <div class="enchere-info">
                  <span class="enchere-nom">Nom produit: {{ enchere.nomProduit }}</span>
                  <span class="enchere-description">Description produit: {{ enchere.descriptionProduit }}</span>
                  <span class="enchere-prix">Prix: {{ enchere.prix  }}</span>
                  <span class="enchere-date">Date: {{ enchere.date | date:'longDate' }}</span>
                  <span class="enchere-heure">
                    <svg class="icon-clock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M12 8a1 1 0 0 1 1 1v3h2a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1zm0-7a11 11 0 1 0 0 22 11 11 0 0 0 0-22zm0 20a9 9 0 1 1 0-18 9 9 0 0 1 0 18z"/></svg>
                    Heure: {{ enchere.heure }}
                </span>                  <span class="enchere-nombre">Nombre de candidats: {{ enchere.nombreCondidat }}</span>
              </div>
              <button (click)="navigateByIdEnchere(enchere)" class="inscription-button btn btn-primary">Inscription</button>

          </div>
      </div>
  </div>
</div>
