.navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
}

.navbar-list {
    list-style: none;
    display: flex;
}

.navbar-list li {
    margin: 0 10px;
}

.navbar-list li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
}

.navbar-list li a:hover {
    background-color: #555;
}








/* reclamation-history.component.css */
.history-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .primary {
    color: #111418;
    text-align: center;
    margin-bottom: 1em;
  }
  
  .reclamation-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .reclamation-card {
    padding: 1em;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .property {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .label {
    font-weight: bold;
    color: #333333;
  }
  
  .text-secondary {
    color: #666666;
  }
  
  .contenu, .type, .reponse {
    font-weight: normal;
  }
  
